<#escape x as x?html>
    <h3>Восстановление пароля в ${config.get('application.titleCommon')}</h3>

    <p>
        Пожалуйста, проследуйте по сслыке:<br/><br/>
        <#noescape><a href="${forgotUrl}">${forgotUrl}</a></#noescape>
        <br/><br/>
        (Если ссылка не кликается, попробуйте скопировать ее и открыть отдельно в новом окне/табе браузера.)
    </p>

    <p>
        Спасибо!<br/>
        <#noescape><a href="${config.get('application.baseUrl')}"></#noescape>${config.get('application.titleCommon')}</a>
    </p>
</#escape>