<#escape x as x?html>
    <h3>Wiederherstellen des Kennworts in der ${config.get('application.titleCommon')}</h3>

    <p>Hallo.</p>

    <p>
        Bitte folgen Sie diesem Link in Ihrem Browser, um Ihr Passwort zu ändern:<br/><br/>
        <a href="${forgotUrl}">${forgotUrl}</a>
        <br/><br/>
        (Wenn Sie auf den obigen Link nicht klicken, können Sie es ausprobieren und in die
        Adresszeile Ihres Browsers einfügen.)
    </p>

    <p>
        Bitte ignorieren Sie die Nachricht, wenn Sie diese E-Mail nicht angefordert haben.
    </p>

    <p>
        Vielen Dank.<br/>
        <a href="${indexUrl}">${config.get('application.titleCommon')}</a>
    </p>
</#escape>