<#escape x as x?html>
    <h3>Restoring password in ${config.get('application.titleCommon')}</h3>

    <p>
        Siga este link no seu navegador para alterar sua senha:<br/><br/>
        <a href="${forgotUrl}">${forgotUrl}</a>
        <br/><br/>
        (Se clicar no link acima não funcionar, tente cortá-lo e colá-lo na barra de localização do seu navegador.)
    </p>

    <p>
        Ignore a mensagem se você não solicitou este e-mail.
    </p>

    <p>
        Obrigado.<br/>
        <a href="${indexUrl}">${config.get('application.titleCommon')}</a>
    </p>
</#escape>