<#escape x as x?html>
    <h3>Восстановление пароля в ${config.get('application.titleCommon')}</h3>

    <p>
        Пожалуйста, проследуйте по сслыке:<br/><br/>
        <a href="${forgotUrl}">${forgotUrl}</a>
        <br/><br/>
        (Если ссылка не кликается, попробуйте скопировать ее и открыть отдельно в новом окне/табе браузера.)
    </p>

    <p>
        Пожалуйста, проигнорируйте это письмо, если вы не запрашивали восстановление пароля.
    </p>

    <p>
        Спасибо!<br/>
        <a href="${indexUrl}">${config.get('application.titleCommon')}</a>
    </p>
</#escape>