<#escape x as x?html>
    <h3>Restoring password in ${config.get('application.titleCommon')}</h3>

    <p>
        Please follow this link in your browser to change your password:<br/><br/>
        <#noescape><a href="${forgotUrl}">${forgotUrl}</a></#noescape>
        <br/><br/>
        (If clicking the above link doesn't work, try cutting and pasting it into your browser's location bar.)
    </p>

    <p>
        Thank you.<br/>
        <#noescape><a href="${config.get('application.baseUrl')}"></#noescape>${config.get('application.titleCommon')}</a>
    </p>
</#escape>