<#escape x as x?html>
    <h3>Restaurar la contraseña en ${config.get('application.titleCommon')}</h3>

    <p>
        Siga este enlace en su navegador para cambiar su contraseña:<br/><br/>
        <a href="${forgotUrl}">${forgotUrl}</a>
        <br/><br/>
        (Si no puede hacer clic en el enlace anterior, intente cortarlo y pegarlo en la barra de ubicación de su navegador.)
    </p>

    <p>
        Por favor, ignora el mensaje si no ha solicitado este correo electrónico.
    </p>

    <p>
        Gracias.<br/>
        <a href="${indexUrl}">${config.get('application.titleCommon')}</a>
    </p>
</#escape>