<#escape x as x?html>
    <h3>Restoring password in ${config.get('application.titleCommon')}</h3>

    <p>
        Veuillez suivre ce lien dans votre navigateur pour changer votre mot de passe:<br/><br/>
        <a href="${forgotUrl}">${forgotUrl}</a>
        <br/><br/>
        (Si vous cliquez sur le lien ci-dessus ne fonctionne pas, essayez de le couper et de le coller dans la barre d'emplacement de votre navigateur.)
    </p>

    <p>
        Veuillez ignorer le message si vous n'avez pas demandé cet e-mail.
    </p>

    <p>
        Je vous remercie.<br/>
        <a href="${indexUrl}">${config.get('application.titleCommon')}</a>
    </p>
</#escape>