<#escape x as x?html>
    <h3>Добро пожаловать в ${config.get('application.titleCommon')}.</h3>

    <p>
        Пожалуйста, подтвердите Ваш E-mail адрес с помощью этой ссылки:<br/><br/>
        <#noescape><a href="${confirmUrl}">подтвердить email</a></#noescape>
    </p>

    <p>
        Вы также можете подтвердить ваш email, введя следуюший код на странице подтверждения:<br/>
        <b>${verificationCode}</b>
    </p>

    <p>
        Как только Ваш E-mail будет подтвержден, Вы сможете войти в ${config.get('application.titleCommon')}.
    </p>

    <p>
        Спасибо.<br/>
        <#noescape><a
                href="${config.get('application.baseUrl')}"></#noescape>${config.get('application.titleCommon')}</a>
    </p>
</#escape>
