<#escape x as x?html>
    <h3>Welcome to ${config.get('application.titleCommon')}.</h3>

    <p>
        Please confirm your email address by following this link in your browser:<br/><br/>
        <#noescape><a href="${confirmUrl}"></#noescape>confirm your email</a>.
    </p>

    <p>
        You may also confirm your email by entering the following code on the confirmation page:<br />
        <b>${verificationCode}</b>
    </p>

    <p>
        Once your e-mail address has been confirmed, you will be allowed to login into
        ${config.get('application.titleCommon')}.
    </p>

    <p>
        Thank you.<br/>
        <a href="${config.get('application.baseUrl')?no_esc}">${config.get('application.titleCommon')}</a>
    </p>
</#escape>
