<#escape x as x?html>
    <p>
        <b>Hola, ${user.getFirstName()} ${user.getLastName()}.</b>
    </p>

    <p>
        Bienvenido a ${config.get('application.titleCommon')}.
    </p>

    <p>
        Confirme su dirección de correo electrónico siguiendo este enlace en su navegador:<br/><br/>
        <a href="${confirmUrl}">confirme su email</a>.
    </p>

    <p>
        También puede confirmar su correo electrónico introduciendo el siguiente código en la página de confirmación:<br />
        <b>${verificationCode}</b>
    </p>

    <p>
        Una vez que su dirección de correo electrónico ha sido confirmada, se le permitirá iniciar sesión en
        ${config.get('application.titleCommon')}.
    </p>

    <p>
        Gracias.<br/>
        <a href="${indexUrl}">${config.get('application.titleCommon')}</a>
    </p>
</#escape>
