<#escape x as x?html>
    <p>
        <b>Bonjour, ${user.getFirstName()} ${user.getLastName()}.</b>
    </p>

    <p>
        Bienvenue en ${config.get('application.titleCommon')}.
    </p>

    <p>
        Veuillez confirmer votre adresse de courriel en suivant ce lien dans votre navigateur:<br/><br/>
        <a href="${confirmUrl}">confirm your email</a>.
    </p>

    <p>
        Vous pouvez également confirmer votre courriel en entrant le code suivant sur la page de confirmation:<br />
        <b>${verificationCode}</b>
    </p>

    <p>
        Une fois que votre adresse e-mail a été confirmée, vous serez autorisé à vous connecter à
        ${config.get('application.titleCommon')}.
    </p>

    <p>
        Je vous remercie.<br/>
        <a href="${indexUrl}">${config.get('application.titleCommon')}</a>
    </p>
</#escape>
