<#escape x as x?html>
    <p>
        <b>Olá, ${user.getFirstName()} ${user.getLastName()}.</b>
    </p>

    <p>
        Bem vindo ao ${config.get('application.titleCommon')}.
    </p>

    <p>
        Confirme o seu endereço de e-mail seguindo este link no seu navegador:<br/><br/>
        <a href="${confirmUrl}">confirme seu email</a>.
    </p>

    <p>
        Você também pode confirmar seu e-mail digitando o seguinte código na página de confirmação:<br />
        <b>${verificationCode}</b>
    </p>

    <p>
        Assim que o seu endereço de e-mail foi confirmado, você estará autorizado a fazer login no
        ${config.get('application.titleCommon')}.
    </p>

    <p>
        Obrigado.<br/>
        <a href="${indexUrl}">${config.get('application.titleCommon')}</a>
    </p>
</#escape>
