<#escape x as x?html>
    <p>
        <b>Hallo, ${user.getFirstName()} ${user.getLastName()}.</b>
    </p>

    <p>
        Willkommen zu ${config.get('application.titleCommon')}.
    </p>

    <p>
        Bitte bestätigen Sie Ihre E-Mail-Adresse, indem Sie diesem Link in Ihrem Browser folgen:<br/><br/>
        <a href="${confirmUrl}">Bestätige deine E-Mail-Adresse</a>.
    </p>

    <p>
        Sie können auch Ihre E-Mail bestätigen, indem Sie auf der Bestätigungsseite den folgenden Code eingeben:<br />
        <b>${verificationCode}</b>
    </p>

    <p>
        Sobald Ihre E-Mail-Adresse bestätigt wurde, können Sie sich anmelden
        ${config.get('application.titleCommon')}.
    </p>

    <p>
        Vielen Dank.<br/>
        <a href="${indexUrl}">${config.get('application.titleCommon')}</a>
    </p>
</#escape>
