<#import "/views/layout/defaultLayout.ftl.html" as layout />
<@layout.defaultLayout i18n("forgotPasswordTitle")>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

        <h3>
            ${i18n("forgotPasswordTitle")}
        </h3>

        <noscript>
            <div class="alert alert-danger">${i18n("singUpNoScriptError")}</div>
        </noscript>

        <#if errors.hasBeanViolations()>
            <div class="alert alert-danger">${i18n("forgotPasswordFixTheErrorsAlert")}</div>
        </#if>

        <form role="form" id="forgotPasswordForm" method="POST"
              action="${contextPath}/auth/forgot?lang=${lang?url}&continue=${continue?url}">
            <div class="form-group <#if errors.hasBeanViolation('emailOrUsernameNotFound') || errors.hasBeanViolation('emailOrUsername')>has-error</#if>">
                <label for="emailOrUsername">${i18n("signInEmailOrUsername")}</label>
                <input type="text" id="emailOrUsername" name="emailOrUsername"
                       placeholder="${i18n('signInEmailOrUsernamePlaceHolder')}"
                       value="${user.getEmailOrUsername()}"
                       ${_enableHtml5Required}
                       class="form-control"/>
                <#if errors.hasBeanViolation('emailOrUsernameNotFound')>
                    <p class="help-block">
                        ${i18n("forgotPasswordEmailNotFound")}
                    </p>
                </#if>
                <#if errors.hasBeanViolation('emailOrUsername')>
                    <p class="help-block">
                        ${i18n("forgotPasswordEnterValidEmailOrUsername")}
                    </p>
                </#if>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="form-group <#if errors.hasBeanViolation('captchaCode')>has-error</#if>">
                        <label for="captchaCode">${i18n("signUpCaptchaCode")}</label>
                        <input type="text" autocomplete="off"
                               class="form-control" id="captchaCode"
                               name="captchaCode"
                               ${_enableHtml5Required}
                               placeholder="${i18n('signUpCaptchaCodePlaceHolder')}"/>
                        <#if errors.hasBeanViolation('captchaCode')>
                            <p class="help-block">${i18n("signUpCaptchaCodeHelp")}</p>
                        </#if>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6 ssoSignupCaptchaContainer">
                        <img src="<#noescape>${captchaUrl}</#noescape>"
                             id="captchaImage" class="ssoCaptchaImage"
                             alt="${i18n('signUpCaptchaCodeHelp')}"
                             title="${i18n('signUpCaptchaCodeHelp')}"
                        />
                </div>
            </div>
            <button type="submit" class="btn btn-default" id="forgotSubmit">${i18n("forgotPasswordButtonTitle")}
            </button>
            <input type="hidden" value="${captchaToken}" name="captchaToken"/>
        </form>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <#include "signInLink.ftl.html" />
        <#include "signUpLink.ftl.html" />
    </div>
</div>


<!--<#-- CSS below is the template, that contains ${contextPath} -->-->
<style type="text/css">
    <#include "/assets/css/sso/signup.css" />
</style>

<script>
(function() {
    $('#forgotPasswordForm').submit(function() {
        $('#forgotSubmit').attr('disabled', 'disabled');
        $('#forgotSubmit').html('${i18n("forgotPasswordButtonTitleLoading")}');
    });
})();
<#include "/assets/js/sso/captcha.js" />
</script>

</@layout.defaultLayout>