<#import "/views/layout/defaultLayout.ftl.html" as layout />
<@layout.defaultLayout i18n("newPasswordTitle")>

<style type="text/css">
    .newPasswordInfo {
    margin: 5px 0 15px 0;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h3>
            ${i18n("newPasswordTitle")}
        </h3>

        <#if restorePasswordError?? && (restorePasswordError == "expired" || restorePasswordError == "unknown")>
            <div class="alert alert-danger">
                ${i18n("newPasswordCodeUnknownOrExpired")}
                <a href="${contextPath}/auth/signin?lang=${lang?url}&amp;continue=${continue?url}">${config.get('application.titleCommon')}</a>
            </div>
            <#else>
                <div class="newPasswordInfo">
                    ${i18n("newPasswordForUser")}: <b> ${user.getUsername()} /
                    ${user.getEmail()?replace(".@", "*@", "r")?replace("^.", "*","r")}</b>
                </div>

                <#if restorePasswordError?? && restorePasswordError == "password">
                    <div class="alert alert-danger">
                        ${i18n("newPasswordFillFields")}
                    </div>
                </#if>

                <form role="form" method="post"
                      action="${contextPath}/auth/restore?lang=${lang?url}&amp;restoreToken=${restoreToken?url}&continue=${continue?url}">
                    <div class="form-group">
                        <label for="password">${i18n("newPasswordLabel")}</label>
                        <input class="form-control" type="password"
                               name="password" id="password"
                               ${_enableHtml5Required}
                               autocomplete="off"
                               placeholder="${i18n('signUpPasswordPlaceHolder')}"
                               value=""/>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">${i18n("newPasswordRepeatLabel")}</label>
                        <input class="form-control" type="password"
                               name="confirmPassword" id="confirmPassword"
                               ${_enableHtml5Required}
                               autocomplete="off"
                               placeholder="${i18n('signUpPasswordRepeatPlaceHolder')}"
                               value=""/>
                    </div>
                    <button class="btn btn-default" type="submit"
                           id="restorePasswordSubmit">${i18n('newPasswordSave')}</button>
                </form>
        </#if>
    </div>
</div>

</@layout.defaultLayout>