<#import "/views/layout/defaultLayout.ftl.html" as layout />
<@layout.defaultLayout i18n("newPasswordTitle")>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h3>
            ${i18n("newPasswordTitle")}
        </h3>

        <#if restorePasswordError?? && (restorePasswordError == "expired" || restorePasswordError == "unknown")>
            <div class="alert alert-danger">
                ${i18n("newPasswordCodeUnknownOrExpired")}
                <a href="${contextPath}/auth/signin?lang=${lang?url}&amp;continue=${continue?url}">
                    ${i18n('signInLinkTitle')}
                </a>
            </div>
            <#else>
                <div class="newPasswordInfo">
                    ${i18n("newPasswordForUser")}:
                    <b>
                        ${user.getUsername()} /
                        ${user.getEmail()?replace(".@", "*@", "r")?replace("^.", "*","r")}
                    </b>
                </div>

                <#if restorePasswordError?? && restorePasswordError == "password">
                    <div class="alert alert-danger">
                        ${i18n("newPasswordFillFields")}
                    </div>
                </#if>

                <form role="form" method="post" id="restorePasswordForm"
                      action="${contextPath}/auth/restore?lang=${lang?url}&amp;restoreToken=${restoreToken?url}&continue=${continue?url}">
                    <div class="form-group has-feedback">
                        <label class="control-label password-meter-container" for="password">
                            <span id="password-label-text">${i18n("newPasswordLabel")}</span>
                            <span id="password-meter"></span>
                        </label>
                        <input type="password"
                               name="password"
                               id="password"
                               ${_enableHtml5Required}
                               autocomplete="off"
                               placeholder="${i18n('signUpPasswordPlaceHolder')}"
                               value=""
                               class="form-control"/>
                        <i id="password-feedback"
                           class="glyphicon glyphicon-ok-circle form-control-feedback"></i>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label" for="password-repeat">
                            ${i18n("newPasswordRepeatLabel")}
                        </label>
                        <input class="form-control"
                               type="password"
                               name="confirmPassword" id="password-repeat"
                               ${_enableHtml5Required}
                               autocomplete="off"
                               placeholder="${i18n('signUpPasswordRepeatPlaceHolder')}"
                               value=""/>
                        <i id="password-repeat-feedback"
                           class="glyphicon glyphicon-ok-circle form-control-feedback"></i>
                    </div>
                    <button class="btn btn-default" type="submit" id="restorePasswordSubmit">
                        ${i18n('newPasswordSave')}
                    </button>
                </form>
                <script>
                    <#include "/assets/js/sso/restore-password.js" />
                </script>
        </#if>
    </div>
</div>

<!--<#-- CSS below is the template that uses ${contextPath}  variable-->-->
<style type="text/css">
    <#include "/assets/css/sso/password.css" />
</style>

</@layout.defaultLayout>