<#import "/views/layout/defaultLayout.ftl.html" as layout />
<@layout.defaultLayout i18n("newPasswordTitle")>

<style type="text/css">
    .newPasswordInfo {
    margin: 5px 0 15px 0;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h3>
            ${i18n("newPasswordTitle")}
        </h3>

        <#if restorePasswordError?? && (restorePasswordError == "expired" || restorePasswordError == "unknown")>
            <div class="alert alert-danger">
                ${i18n("newPasswordCodeUnknownOrExpired")}
                <#noescape><a href="${contextPath}/auth/signin?lang=${lang}&continue=${continue?url}"></#noescape>
                ${config.get('application.titleCommon')}</a>
            </div>
            <#else>
                <div class="newPasswordInfo">
                    ${i18n("newPasswordForUser")}: <b> ${user.getUsername()} /
                    ${user.getEmail()?replace(".@", "*@", "r")?replace("^.", "*","r")}</b>
                </div>
        </#if>

        <#if restorePasswordError?? && restorePasswordError == "password">
            <div class="alert alert-danger">
                ${i18n("newPasswordFillFields")}
            </div>
        </#if>

        <form role="form" method="post"
              action="${contextPath}/auth/restore?lang=${lang}&restoreToken=${restoreToken}&continue=${continue}">
            <div class="form-group">
                <label for="password">${i18n("newPasswordLabel")}</label>
                <input class="form-control" type="password" name="password" id="password" value=""/>
            </div>
            <div class="form-group">
                <label for="confirmPassword">${i18n("newPasswordRepeatLabel")}</label>
                <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" value=""/>
            </div>
            <input class="btn btn-default" type="submit" value="${i18n('newPasswordSave')}"/>
        </form>

    </div>
</div>

</@layout.defaultLayout>