<#import "/views/layout/defaultLayout.ftl.html" as layout />
<@layout.defaultLayout i18n("signUpTitle")>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

        <h3 class="ssoHeader">
            ${i18n("signUpTitle")}
        </h3>

        <noscript>
            <div class="alert alert-danger">${i18n("singUpNoScriptError")}</div>
        </noscript>

        <#if errors.hasBeanViolations()>
            <div class="alert alert-danger">${i18n("signUpFixTheErrorsAlert")}</div>
        </#if>

        <form id="signUpForm" method="POST"
              action="${contextPath}/auth/signup?lang=${lang}&continue=${continue?url}">

            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="form-group <#if errors.hasBeanViolation('firstName')>has-error</#if>">
                        <label class="control-label" for="firstName">${i18n("signUpFirstName")}</label>
                        <input type="text" id="firstName" name="firstName"
                               placeholder="${i18n('signUpFirstNamePlaceHolder')}"
                               value="${(user.firstName)!}"
                               ${_enableHtml5Required}
                               class="form-control"/>
                        <!--<#--<p class="help-block">Example block-level help text here.</p>-->-->
                        <#if errors.hasBeanViolation('firstName') || errors.hasBeanViolation('lastName')>
                            <p class="help-block ssoFieldErrorDescription">
                                ${i18n("signUpNameDescription")}
                            </p>
                        </#if>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="form-group <#if errors.hasBeanViolation('lastName')>has-error</#if>">
                        <label class="control-label" for="lastName">${i18n("signUpLastName")}</label>
                        <input type="text" id="lastName" name="lastName"
                               placeholder="${i18n('signUpLastNamePlaceHolder')}"
                               value="${(user.lastName)!}"
                               ${_enableHtml5Required}
                               class="form-control"/>
                        <!--<#--<p class="help-block">Example block-level help text here.</p>-->-->
                    </div>
                </div>
            </div>

            <div class="form-group <#if errors.hasBeanViolation('username') || errors.hasBeanViolation('usernameDuplicate')>
                            has-error</#if>">
                <label class="control-label" for="username">${i18n("signUpUsername")}</label>
                <input type="text" id="username" name="username"
                       placeholder="${i18n('signUpUsernamePlaceHolder')}"
                       value="${(user.username)!}"
                       ${_enableHtml5Required}
                       class="form-control"
                />
                <#if errors.hasBeanViolation('usernameDuplicate')>
                    <p class="help-block ssoFieldErrorDescription">${i18n("signUpUsernameUsed")} <br/>
                        ${i18n("signUpUsernameUsedDescription")}:
                        <a href="${contextPath}/signin/forgot?lang=${lang}&continue=${continue?url}">
                            ${i18n("signUpUsernameUsedLinkTitle")}
                        </a>
                    </p>
                </#if>
                <#if errors.hasBeanViolation('username')>
                    <p class="help-block ssoFieldErrorDescription">
                        ${i18n("signUpUsernameFormatDescription")}
                    </p>
                </#if>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group <#if errors.hasBeanViolation('birthDay') || errors.hasBeanViolation('birthMonth')
                                || errors.hasBeanViolation('birthYear')>has-error</#if>">
                        <label class="control-label" for="birthday">${i18n("signUpBirthday")}</label>
                        <div class="row">
                            <div class="col-xs-5 col-md-3">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button"
                                            id="birthMonthButton"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <span id="birthMonthTitle">${i18n("signUpBirthMonth")}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="birthMonthButton"
                                        id="birthMonthDropdown">
                                        <li rel="1"><a href="#">${i18n("signUpBirthMonthJanuary")}</a></li>
                                        <li rel="2"><a href="#">${i18n("signUpBirthMonthFebruary")}</a></li>
                                        <li rel="3"><a href="#">${i18n("signUpBirthMonthMarch")}</a></li>
                                        <li rel="4"><a href="#">${i18n("signUpBirthMonthApril")}</a></li>
                                        <li rel="5"><a href="#">${i18n("signUpBirthMonthMay")}</a></li>
                                        <li rel="6"><a href="#">${i18n("signUpBirthMonthJune")}</a></li>
                                        <li rel="7"><a href="#">${i18n("signUpBirthMonthJuly")}</a></li>
                                        <li rel="8"><a href="#">${i18n("signUpBirthMonthAugust")}</a></li>
                                        <li rel="9"><a href="#">${i18n("signUpBirthMonthSeptember")}</a></li>
                                        <li rel="10"><a href="#">${i18n("signUpBirthMonthOctober")}</a></li>
                                        <li rel="11"><a href="#">${i18n("signUpBirthMonthNovember")}</a></li>
                                        <li rel="12"><a href="#">${i18n("signUpBirthMonthDecember")}</a></li>
                                    </ul>
                                    <input type="hidden" name="birthMonth" id="birthMonth"
                                           value="${(user.birthMonth)!}"/>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3 <#if errors.hasBeanViolation('birthDay')>has-error</#if>">
                                <input type="text" id="birthDay" name="birthDay"
                                       placeholder="${i18n('signUpBirthDayPlaceHolder')}"
                                       maxlength="2"
                                       value="${(user.birthDay)!}"
                                       ${_enableHtml5Required}
                                       class="form-control"/>
                            </div>
                            <div class="col-xs-4 col-md-4 <#if errors.hasBeanViolation('birthYear')>has-error</#if>">
                                <input type="text" id="birthYear" name="birthYear"
                                       placeholder="${i18n('signUpBirthYearPlaceHolder')}"
                                       maxlength="4"
                                       value="${(user.birthYear)!}"
                                       ${_enableHtml5Required}
                                       class="form-control"/>
                            </div>
                        </div>
                        <#if errors.hasBeanViolation('birthDay') || errors.hasBeanViolation('birthMonth')
                                || errors.hasBeanViolation('birthYear')>
                            <div class="input-group row">
                                <p style="padding-left:15px;" class="help-block ssoFieldErrorDescription">
                                    ${i18n("signUpBirthDayDescription")}
                                </p>
                            </div>
                        </#if>
                    </div>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group <#if errors.hasBeanViolation('gender')>has-error</#if>">
                        <label class="control-label" for="genderButton">${i18n("signUpGender")}</label>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="genderButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span id="genderTitle">${i18n("signUpGender")}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="gender" id="genderDropdown">
                                <li rel="FEMALE"><a href="#">${i18n("signUpGenderFemale")}</a></li>
                                <li rel="MALE"><a href="#">${i18n("signUpGenderMale")}</a></li>
                                <li rel="OTHER"><a href="#">${i18n("signUpGenderOther")}</a></li>
                            </ul>
                            <input type="hidden" name="gender" id="gender" value="${(user.gender)!}"/>
                        </div>
                        <#if errors.hasBeanViolation('gender')>
                            <p class="clearfix help-block ssoFieldErrorDescription">
                                ${i18n("signUpGenderDescription")}
                            </p>
                        </#if>
                    </div>
                </div>
            </div>

            <div class="form-group <#if errors.hasBeanViolation('email') || errors.hasBeanViolation('emailDuplicate')>
                       has-error</#if>">
                <label class="control-label" for="email">${i18n("signUpEmailAddress")}</label>
                <input type="email" id="email" name="email"
                       placeholder="${i18n('signUpEmailPlaceHolder')}"
                       value="${(user.email)!}"
                       ${_enableHtml5Required}
                       class="form-control"
                />
                <#if errors.hasBeanViolation('email')>
                    <p class="help-block ssoFieldErrorDescription">${i18n("signUpEmailRequired")}</p>
                </#if>
                <#if errors.hasBeanViolation('emailDuplicate')>
                    <p class="help-block ssoFieldErrorDescription">
                        ${i18n("signUpEmailUsed")} <br/>
                        ${i18n("signUpEmailUsedDescription")}:
                        <a href="${contextPath}/signin/forgot?lang=${lang}&continue=${continue?url}">${i18n("signUpEmailUsedLinkTitle")}</a>
                    </p>
                </#if>
            </div>


            <div class="row">
                <div class="col-xs-5 col-md-3">
                    <div class="form-group <#if errors.hasBeanViolation('countryId')>has-error</#if>">
                        <label class="control-label" for="countryIdButton">${i18n("signUpCountry")}</label>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="countryIdButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span id="countryIdTitle">${i18n("signUpCountry")}</span>
                                <span class="caret"></span>
                            </button>
                            <#list countries>
                                <ul class="dropdown-menu" aria-labelledby="countryIdButton" id="countryIdDropdown">
                                    <#items as country>
                                        <li class="countryEntry" rel="${country.getIso()}"
                                            rel2="${country.getPhoneCode()}"
                                            rel3="${country.getNativeOrNiceName()}">
                                            <a href="#">
                                            <span role="img"
                                                  aria-label="${country.getNativeOrNiceName()}"
                                                  class="flag flag-${country.getIso()?lower_case}"></span>
                                            <span class="countryNameCode">
                                                ${country.getNiceName()}
                                                (+${country.getPhoneCode()})
                                            </span>
                                            </a>
                                        </li>
                                    </#items>
                                </ul>
                            </#list>
                            <input type="hidden" id="countryId" name="countryId" value="${(user.countryId)!}"/>
                        </div>
                        <#if errors.hasBeanViolation('countryId')>
                            <p class="help-block ssoFieldErrorDescription">
                                ${i18n("signUpCountryRequired")}
                            </p>
                        </#if>
                    </div>
                </div>
                <div class="col-xs-7 col-md-9">
                    <div class="form-group <#if errors.hasBeanViolation('phone')>has-error</#if>">
                        <label class="control-label" for="phone">${i18n("signUpPhone")}</label>
                        <input type="tel" id="phone" name="phone"
                               placeholder="${i18n('signUpPhonePlaceHolder')}"
                               value="${(user.phone)!}"
                               ${_enableHtml5Required}
                               class="form-control"/>
                        <!--<p class="help-block">${i18n("signUpPhoneOptional")}</p>-->
                        <#if errors.hasBeanViolation('phone')>
                            <div class="input-group">
                                <p class="help-block ssoFieldErrorDescription">
                                    ${i18n("signUpPhoneRequired")}
                                </p>
                            </div>
                        </#if>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="form-group <#if errors.hasBeanViolation('password')>has-error</#if>">
                        <label class="control-label" for="password">${i18n("signUpPassword")}</label>
                        <input type="password" id="password" name="password"
                               placeholder="${i18n('signUpPasswordPlaceHolder')}"
                               value="${(user.password)!}"
                               ${_enableHtml5Required}
                               autocomplete="off"
                               class="form-control"
                        />
                        <#if errors.hasBeanViolation('passwordRepeat')>
                            <p class="help-block ssoFieldErrorDescription">${i18n("signUpPasswordHelp1")}</p>
                        </#if>
                    </div>
                </div>

                <div class="col-xs-6 col-md-6">
                    <div class="form-group <#if errors.hasBeanViolation('passwordRepeat')>has-error</#if>">
                        <label class="control-label" for="passwordRepeat">${i18n("signUpPasswordRepeat")}</label>
                        <input type="password" id="passwordRepeat" name="passwordRepeat"
                               placeholder="${i18n('signUpPasswordRepeatPlaceHolder')}"
                               value="${(user.passwordRepeat)!}"
                               ${_enableHtml5Required}
                               autocomplete="off"
                               class="form-control"
                        />
                        <#if errors.hasBeanViolation('passwordRepeat')>
                            <p class="help-block ssoFieldErrorDescription">${i18n("signUpPasswordHelp2")}</p>
                        </#if>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="form-group <#if errors.hasBeanViolation('captchaCode')>has-error</#if>">
                        <label class="control-label" for="captchaCode">${i18n("signUpCaptchaCode")}</label>
                        <input type="text" class="form-control" id="captchaCode"
                               name="captchaCode"
                               ${_enableHtml5Required}
                               autocomplete="off"
                               placeholder="${i18n('signUpCaptchaCodePlaceHolder')}"/>
                        <#if errors.hasBeanViolation('captchaCode')>
                            <p class="help-block ssoFieldErrorDescription">
                                ${i18n("signUpCaptchaCodeRequired")}
                            </p>
                        </#if>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6 ssoSignupCaptchaContainer">
                    <img src="${captchaUrl}" class="ssoCaptchaImage" id="captchaImage"
                         alt="${i18n('signUpCaptchaCodeHelp')}"
                         title="${i18n('signUpCaptchaCodeHelp')}"
                    />
                    <#if errors.hasBeanViolation('captchaCode')>
                        <p class="help-block">${i18n("signUpCaptchaCodeHelp")}</p>
                    </#if>
                </div>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" id="agreement" name="agreement" value="agree" ${_enableHtml5Required}
                        <#if 'agree' == (user.agreement)!> checked </#if>
                        />
                    ${i18n("signUpTerm1")} <b>${i18n("signUpButtonTitle")}</b> ${i18n("signUpTerm2")}
                    <a href="${config.get('application.baseUrl')}/terms_of_service${_underscopeLang}.html"
                       target="_blank">${i18n("signUpTermsOfUse")}</a>
                    ${i18n("signUpTerm3")} <a
                        href="${config.get('application.baseUrl')}/privacy_policy${_underscopeLang}.html"
                        target="_blank">${i18n("signUpPrivacyPolicy")}</a>.
                </label>
                <#if errors.hasBeanViolation('agreement')>
                    <p class="help-block ssoFieldErrorDescription">${i18n("signUpAgreementRequired")}</p>
                </#if>
            </div>
            <button type="submit" class="btn btn-default">${i18n("signUpButtonTitle")}</button>
            <input type="hidden" value="${token}" name="token"/>
        </form>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <!--<#--
        <h3 class="ssoHeader">
        ${i18n("signUpWhy")}
        </h3>
        <p>${i18n("signUpWhyText")}</p>
        <ul>
            <li>${i18n("signUpWhyTextItem1")}</li>
            <li>${i18n("signUpWhyTextItem2")}</li>
            <li>${i18n("signUpWhyTextItem3")}</li>
            <li>${i18n("signUpWhyTextItem4")}</li>
        </ul>
        -->-->
        <#include "signInLink.ftl.html" />
        <#include "forgotPasswordLink.ftl.html" />
    </div>
</div>

<!--<#-- CSS below is the template, that contains ${contextPath} -->-->
<style type="text/css">
    <#include "/assets/css/sso/signup.css" />
    <#include "/assets/css/sso/flags.css" />
</style>

<script>
    <#include "/assets/js/sso/signup.js" />
</script>

</@layout.defaultLayout>
