<#import "/views/layout/defaultLayout.ftl.html" as layout>
    <#if wrongToken?? || tokenExpired??>
        <#assign topTitle = i18n("signUpWelcomeError") />
        <#else>
            <#assign topTitle = i18n("signUpWelcomeTitle") />
    </#if>
    <@layout.defaultLayout topTitle>

    <style type="text/css">
        .ssoSignupConfirmationWarning {
        color: red;
        font-size: 18px;
        padding: 20px 0;
        }
        .ssoSignupConfirmationBig {
        font-weight: bold;
        font-size: 18px;
        padding: 20px 0;
        }
        #signUpVerifyForm {
        padding: 20px 0;
        }
    </style>

    <div class="row">

        <#if wrongToken?? || tokenExpired??>

            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <h3>
                    ${i18n("signUpWelcomeError")}
                </h3>
                <div class="alert alert-danger">
                    ${i18n("signUpWelcomeErrorTokenExpired")}
                </div>

                <p class="ssoSignupConfirmationBig">
                    <a href="${continue}">
                        ${i18n("signUpWelcomeProceedToProject")}
                        ${config.get('application.titleCommon')}
                    </a>
                </p>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <#include "signUpLink.ftl.html" />
                <#include "signInLink.ftl.html" />
                <#include "forgotPasswordLink.ftl.html" />
            </div>

            <#else>

                <h3>
                    ${i18n("signUpWelcomeTitleVerification")} ${config.get('application.titleCommon')}.
                </h3>
                <p class="ssoSignupConfirmationWarning">
                    ${i18n("signUpWelcomeDescription")}
                </p>

                <#if wrongVerificationCode??>
                    <div class="alert alert-danger">
                        ${i18n("signUpWelcomeErrorWrongVerificationCode")}
                    </div>
                </#if>

                <form id="signUpVerifyForm" method="POST"
                      action="${contextPath}/auth/signup/verify?lang=${lang}&amp;token=${token?url}&amp;continue=${continue?url}">
                    <div class="form-group">
                        <label for="verificationCode">${i18n("signUpVerificationCode")}</label>
                        <input type="text" id="verificationCode" name="verificationCode"
                               placeholder="${i18n('signUpVerificationCodePlaceHolder')}"
                               value=""
                               ${_enableHtml5Required}
                               class="form-control"/>
                    </div>
                    <button type="submit" id="verifySignUpSubmit"
                            class="btn btn-default">${i18n("signUpVerifyWithVerificationCode")}</button>
                </form>

        </#if>

    </div>

</@layout.defaultLayout>
