<#import "/views/layout/defaultLayout.ftl.html" as layout>
    <@layout.defaultLayout i18n("signInTitle")>

    <style type="text/css">
        .ssoSigninFormContainer {
        min-width: 400px;
        }
        .ssoSigninCaptchaContainer {
        text-align: left;
        }
    </style>

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

            <h3>${i18n("signInTitle")}</h3>

            <#if state??>
                <div class="alert alert-dismissible alert-<#if stateSuccessful>success<#else>danger</#if>">
                    <button type="button" class="close"
                            data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    ${state}
                </div>
            </#if>

            <#if errors.hasBeanViolation('emailNotConfirmed')>
                <div class="alert alert-danger">${i18n("signInEmailNotConfirmedMessage")}</div>
            <#elseif errors.hasBeanViolation('emailOrPassword')>
                <div class="alert alert-danger ssoEmailOrPassword">${i18n("signInEmailOrPasswordNotFound")}</div>
            <#elseif errors.hasBeanViolation('captchaCode')>
                <div class="alert alert-danger">${i18n("signInCaptchaCodeRequired")}</div>
            <#elseif errors.hasBeanViolation('signInDisabled')>
                <div class="alert alert-danger">${i18n("signInDisabled")}</div>
            <#elseif errors.hasBeanViolations()>
                <div class="alert alert-danger">${i18n("signInFixTheErrorsAlert")}</div>
            </#if>

            <form role="form" id="signInForm" method="POST"
                  action="${contextPath}/auth/signin?lang=${lang?url}&amp;continue=${continue?url}">
                <div class="form-group
                     <#if errors.hasBeanViolation('emailOrUsername') || errors.hasBeanViolation('emailOrPassword')>
                       has-error
                     </#if>">
                    <label class="control-label" for="emailOrUsername">${i18n("signInEmailOrUsername")}</label>
                    <input type="text"
                           id="emailOrUsername"
                           name="emailOrUsername"
                           placeholder="${i18n('signInEmailOrUsernamePlaceHolder')}"
                           value="${(user.emailOrUsername)!}"
                           ${_enableHtml5Required}
                           class="form-control"/>
                </div>
                <div class="form-group
                     <#if errors.hasBeanViolation('emailOrPassword') || errors.hasBeanViolation('password')>
                       has-error
                     </#if>">
                    <label class="control-label" for="password">${i18n("signInPassword")}</label>
                    <input type="password"
                           id="password"
                           name="password"
                           placeholder="${i18n('signInPasswordPlaceHolder')}"
                           value="${(user.password)!}"
                           ${_enableHtml5Required}
                           class="form-control"/>
                    <#if errors.hasBeanViolation('passwordChanged')>
                        <p class="help-block ssoFieldErrorDescription">
                            ${i18n("signInPasswordChangedAgo")}
                            ${prettyTime(passwordChangeDate)}.
                        </p>
                    </#if>
                </div>
                <#if ipHitsExceeded>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group <#if errors.hasBeanViolation('captchaCode')>has-error</#if>">
                                <label class="control-label" for="captchaCode">${i18n("signInCaptchaCode")}</label>
                                <input type="text" autocomplete="off"
                                       class="form-control" id="captchaCode"
                                       name="captchaCode" ${_enableHtml5Required}
                                       placeholder="${i18n('signInCaptchaCodePlaceHolder')}"/>
                                <#if errors.hasBeanViolation('captchaCode')>
                                    <p class="help-block ssoFieldErrorDescription">
                                        ${i18n("signInCaptchaCodeRequired")}
                                    </p>
                                </#if>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6 ssoSignupCaptchaContainer">
                            <img src="${captchaUrl}"
                                 class="ssoCaptchaImage" id="captchaImage"
                                 alt="${i18n('signUpCaptchaCodeHelp')}"
                                 title="${i18n('signUpCaptchaCodeHelp')}" />
                            <#if errors.hasBeanViolation('captchaCode')>
                                <p class="help-block">${i18n("signInCaptchaCodeHelp")}</p>
                            </#if>
                        </div>
                    </div>
                    <input type="hidden" value="${captchaToken}" name="captchaToken"/>
                </#if>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="rememberMe" checked />
                        ${i18n("signInRememberMe")}
                    </label>
                </div>
                <button type="submit" class="btn btn-default" id="signInSubmit">
                    ${i18n("signInButtonTitle")}
                </button>
            </form>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <#include "signUpLink.ftl.html" />
            <#include "forgotPasswordLink.ftl.html" />
        </div>
    </div>

    <!--<#-- CSS below is the template, that contains ${contextPath} -->-->
    <style type="text/css">
        <#include "/assets/css/sso/signup.css" />
    </style>

    <script>
        <#include "/assets/js/sso/signin.js" />
        <#include "/assets/js/sso/captcha.js" />
    </script>

</@layout.defaultLayout>
