<h3 class="ssoHeader">
    ${i18n("signUpAlreadyHasAccount")}
</h3>
<p>
    ${i18n("signUpAlreadyHasAccountTextPrefix")}
    <a href="${contextPath}/signin?lang=${lang}&continue=${continue?url}">${i18n("signInLinkTitle")}</a>
    ${i18n("signUpAlreadyHasAccountTextPostfix")}
</p>
<h3 class="ssoHeader">
    ${i18n("signUpForgotPassword")}
</h3>
<p>
    ${i18n("signUpForgotPasswordTextPrefix")}
    <a href="${contextPath}/signin/forgot?lang=${lang}&continue=${continue?url}">${i18n("forgotPasswordRestoreLinkTitle")}</a>
    ${i18n("signUpForgotPasswordTextPostfix")}
</p>
