<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="${contextPath}/?lang=${lang?url}">Text</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="${contextPath}/?lang=${lang?url}">Home</a></li>
            </ul>
            <#assign languagesMap = context.getAttribute('languages') />
            <ul class="navbar-right nav navbar-nav">

                <#if context.getAttribute('authenticated')>
                    <li>
                        <a href="${contextPath}/profile/${userEntity.getUsername()?url}?lang=${lang?url}">
                            ${userEntity.getFirstName()}
                            ${userEntity.getLastName()}
                        </a>
                    </li>
                </#if>

                <li>
                    <a href="#" id="languageDropdownMenu" data-toggle="dropdown" aria-haspopup="true">
                        ${languagesMap[context.getAttribute('lang')]}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdownMenu">
                        <#list languagesMap?keys as langId>
                            <li>
                                <a href="#" onclick="return sso.htmlHelpers.changeLanguage('${langId}');">
                                    ${languagesMap[langId]}
                                </a>
                            </li>
                        </#list>
                    </ul>
                </li>

                <#if context.getAttribute('authenticated')>
                    <li>
                        <a href="#" onclick="$('#signOutForm').submit();return false;">Sign Out</a>
                        <form action="${contextPath}/auth/signout?lang=${lang?url}"
                              method="POST"
                              id="signOutForm"
                              style="display:none;">
                            <input type="hidden" name="xsrfToken"
                                   value="${context.getAttribute('xsrfToken')}"/>
                        </form>
                    </li>
                </#if>
            </ul>
        </div>
    </div>
</div>

<script>
  <#include "/assets/js/sso/language-selector.js" />


</script>