<configuration>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>target/app.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{YYYY-MM-dd'T'HH:mm:ss} [%thread] %-5level %logger{72}: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{YYYY-MM-dd'T'HH:mm:ss} %cyan([%thread]) %highlight(%-5level) %boldYellow(%logger{36}): %msg%n</pattern>
        </encoder>
        <withJansi>true</withJansi>
    </appender>

    <!-- This ignores validation exceptions from Ninja's SwissKnife which can be safely ignored. -->
    <logger name="ninja.utils.SwissKnife" level="OFF"/>

    <logger name="com.google.inject.persist" level="DEBUG" />
    <logger name="org.hibernate" level="DEBUG" />
    <logger name="org.hibernate.type" level="DEBUG" />
    <logger name="org.hibernate.hql" level="ERROR" />
    <logger name="org.hibernate.persister" level="ERROR" />
    <logger name="org.hibernate.loader" level="WARN" />
    <logger name="org.hibernate.engine.internal.TwoPhaseLoad" level="WARN" />

    <logger name="org.hibernate.engine.transaction.internal.jdbc.JdbcTransaction" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="ROLLING"/>-->
    </root>
</configuration>
