<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.defaultLayout "Home page">

    <div class="jumbotron">
        <h1>Demo application</h1>

        <p><b>Current language:</b> ${lang}</p>
        <p><b>Remote IP:</b> ${remoteIp}</p>
        <p><b>IP hits:</b> ${ipHits}</p>
        <p><b>IP hits exceeded:</b> ${ipHitsExceeded?c}</p>

        <p>
            <img src="${contextPath}/auth/captcha?cpt=${captchaToken}" alt="captcha code"/>
        </p>

    </div>

</@layout.defaultLayout>