/**<#-- This CSS source is a Freemarker template and is supposed to be included. -->*/
#password-label-text {
    display: inline-block;
}

#password-meter {
  display: none;
  font-weight: lighter;
  font-size: small;
  padding-left: 15px;
}

#password-meter.weak {
  color: red;
}

#password-meter.medium {
  color: orange;
}

#password-meter.strong {
  color: green;
}

#password-feedback {
  display: none;
}

#password-repeat-feedback {
  display: none;
}

#password-feedback.glyphicon-ok-circle, #password-repeat-feedback.glyphicon-ok-circle {
  color: green;
}

#password-feedback.glyphicon-remove-circle, #password-repeat-feedback.glyphicon-remove-circle {
  color: red;
}

.newPasswordInfo {
  margin: 5px 0 15px 0;
}