/**<#-- This CSS source is a Freemarker template and is supposed to be included. -->*/
#signUpForm {
  margin-bottom: 30px;
}

#birthMonthButton, #countryIdButton {
  width:100%;
}

#genderButton {
  width: 100%;
}

.ssoSelect {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 34px;
  width: 100%;
}

.ssoSignupCaptchaContainer {
  text-align: left;
}

.ssoFieldError {
  background-color: #f5f59c;
}

.ssoFieldErrorDescription {
  color: #cc4a4a;
}

.ssoCaptchaImage {
  background-color: #fff;
  cursor: pointer;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .ssoCaptchaImage {
    margin-top: 24px;
    width: 170px;
  }
}

@media (max-width: 600px) {
  .ssoCaptchaImage {
    margin-top: 28px;
    width: 130px;
  }
}

#countryIdDropdown {
  max-height: 350px;
  min-width: 500px;
  overflow-y: scroll;
}

#countryIdDropdown > li > a {
  min-width: 490px;
}

.countryEntry a {
  height: 32px;
  width: 220px;
  position: relative;
}

.countryEntry .flag {
  position: absolute;
}

.countryEntry .countryNameCode {
  position: absolute;
  top: 10px;
  left: 67px;
}

.preload {
    display:none;
}